<footer class="footer mt-5">
    <div class="container">

        <div class="row">
            <div class="col-4 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/inscripcion">Inscription</a></li>
                    <li><a routerLink="/listado-inscripciones">See Insciptions</a></li>
                    <li>
                        Customers
                        <ul>
                            <li><a routerLink="/agregar-cliente/">Add</a></li>
                            <li><a routerLink="/listado-clientes">See</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/precios">Prices</a></li>
                </ul>
            </div>
        </div>
        <div>
            <p>© Copyright 2020 Oscar Agudelo - MasterGym </p>
        </div>
    </div>
</footer>