<footer class="footer mt-5">
    <div class="container">

        <div class="row">
            <div class="col-6 col-sm-4">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/checkin">Check In</a></li>
                    <li><a routerLink="/registrationlist">Check In List</a></li>
                    <li>
                        Customers
                        <ul>
                            <li><a routerLink="/addcutomer/">Add</a></li>
                            <li><a routerLink="/customerlist">See</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/prices">Prices</a></li>
                </ul>
            </div>
        </div>
        <div>
            <p>© Copyright 2020 Oscar Agudelo - MasterGym </p>
        </div>
    </div>
</footer>